<fieldset class="fieldset">
    <legend i18n="@@aboutHeading">ABOUT THIS LOREM IPSUM GENERATOR</legend>
    <p i18n="@@aboutBody">
        Yes, there are a lot of Lorem Ipsum generators already. Even when we started with this one in 2009. But all
        others
        lack
        features, or are too limited. Here's what Loripsum.net has to offer:
    </p>
</fieldset>

<fieldset class="fieldset">
    <legend i18n="@@customHeading">CUSTOMISATION</legend>
    <p i18n="@@customBody">
        Most generators only output some paragraphs of about the same length. Sometimes you need lists, headings, long
        paragraphs, etc. The website/magazine that you're designing probably isn't going to be filled with happy uniform
        paragraphs, so your placeholder text should reflect that.
    </p>
</fieldset>